
iframe.weact_petition {
    border: 0;
    height: 980px;
    width: 100%;
    background-color: #fff;


}


@media (min-width: 768px) {
    iframe.weact_petition {
        height: 840px;
    }
}

@media (min-width: 992px) {
    iframe.weact_petition {
        height: 1230px;
    }
}

@media (min-width: 1200px) {
    iframe.weact_petition {
        height: 1120px;
    }
}
@media (min-width: 1400px) {
    iframe.weact_petition {
        height: 1020px;
    }
}


nav.navbar {
    background-color:  #e2e3e2;
    

}

ul.navbar-nav {
    opacity:  1.0;
}

p {
    font-size: 1.15em;
}
p a, h4 a, .team-logos a, .table-of-contents a, ul a {
    text-decoration-color: #fec503;
    color: inherit;
    text-decoration-thickness: 2px;
}

.table-of-contents a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: none;
    font-family: 'OpenSans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
section h2 {
    font-size: 1.6em;
}

section#logos{
    padding: 0;
}

.box {
    /*border-left: 3px solid #000;*/
    padding: 1em;
    margin-bottom: 1em;
   
    /*background-color: #e2e3e2;*/
}

.box_petition {
    border: 2px solid #d9dcdc;
    padding: 1em;
    margin-bottom: 1em;
    
}

header .intro-text h1 {
    font-style: normal;

}


.signature-count {
    display: block;
    background-color: #fed136;
    color: black;
    /* font-weight: 700;
    font-size: 1.6em;    */

    text-decoration: none;
}
a.signature-count:hover, a.signature-count:focus {
    color: black;
    background-color: #e0b92f;
}

.intro-text {
    text-shadow: 0 0 2em black;

}

.small-header .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    background-position-y: bottom;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 150px;
        padding-bottom: 120px;
    }
}

.intro-text h2{
    color: #fed136;
}

blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 1.2em;
    border-left: 5px solid #ecf0f1;
    font-family: serif;
}
blockquote small {
    color: #777;
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    font-family: 'OpenSans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
blockquote small::before {
    content: '\2014 \00A0';
}

section {
    padding: 80px 0;
}


a.nav-sign-button {
    background-color: #fed136;
    color: black;
    font-weight: 800;
    margin-left: 1em;
}

.init-logos{
    height: 120px;


}
.init-logo-images{
    max-width: 100%;
    max-height: 7em;
}

.team-logos{
    height: 2em;
}
.team-logos-images{
    max-width: 100%;
    max-height: 100%;
}
.team-logos > div {
    
}

.accordion {
    --bs-accordion-active-color: #dfb111;
    --bs-accordion-active-bg: #fffce7;
}

section#weact {
    padding-top: 0;

}


ul.social-buttons2 li a{
    background-color: #fed136;
}

ul.social-buttons2 li a:hover,
ul.social-buttons2 li a:focus,
ul.social-buttons2 li a:active {
    background-color: #dfb111;
}

body {
    font-family: 'OpenSans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.promi {
    /* font-weight: bold; */
}