<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
  {% block head %}
  <meta charset="utf-8" />
  <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
  {% include 'partials/metadata.html.twig' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <link rel="icon" href="{{ url('theme://img/favicon-32x32.png') }}" sizes="32x32" />
  <link rel="icon" href="{{ url('theme://img/favicon-192x192.png') }}" sizes="192x192" />
  <meta name="msapplication-TileImage" content="{{ url('theme://img/favicon-270x270.png') }}" />


  <meta property="og:title" content="X-Tausend für Lützerath"/>
  <meta property="og:description" content="Wenn die Landesregierung Lützerath räumen und abreißen will, werden wir vor Ort sein und uns der Zerstörung in den Weg stellen"/>
  <meta property="og:image" content="https://www.x-tausend-luetzerath.de/user/pages/01.home/_header/50285451338_5c7b2735b3_o-compressed.jpg"/>
  <meta property="og:url" content="https://wwww.x-tausend-luetzerath.de"/>

  {% endblock %}

  {% block stylesheets %}
    {% do assets.addCss('theme://fonts/open-sans/styles.css',100) %}
    {% do assets.addCss('theme://css-compiled/global.css',100) %}
    {% do assets.addCss('theme://css/custom.css',100) %}
    {% do assets.addCss('theme://css/font-awesome.min.css',100) %}
    {# <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> #}
  {% endblock %}

  {% block javasripts %}
    {% do assets.addJs('jquery',{'priority':101,'group':'bottom'}) %}
    {% do assets.addJs('theme://js/bootstrap.min.js',{'priority':100,'group':'bottom'}) %}
    {% do assets.addJs('theme://js/jquery.easing.min.js',{'group':'bottom'}) %}
    {% do assets.addJs('theme://js/classie.js',{'group':'bottom'}) %}
    {# {% do assets.addJs('theme://js/cbpAnimatedHeader.js',{'group':'bottom'}) %} #}
    {% do assets.addJs('theme://js/agency.js',{'group':'bottom'}) %}
  {% endblock %}

  {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
  {% endblock %}
</head>
<body id="page-top" class="index">

  {% block header_navigation %}
    {% include 'partials/navigation.html.twig' %}
  {% endblock %}
  {% block body %}
    {% block content %}{% endblock %}
  {% endblock %}

  {% block footer %}
    {% include 'partials/footer.html.twig' %}
  {% endblock %}

  {% block javascripts_bottom %}
  {{ assets.js('bottom')|raw }}
  {% endblock %}
</body>
</html>
