<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons2">
                    {% for network in site.social %}
                        <li class="list-inline-item"><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    {% for link in site.quicklinks %}
                        <li class="list-inline-item">
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>