<nav class="navbar navbar-expand-lg sticky-top bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="/" aria-label="Startseite">
        {% if not page.home() %}
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        {% endif %}
    </a>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            {% if page.home() %}
                <a class="nav-link nav-sign-button px-3" href="/#unterzeichnen">Unterzeichnen</a>
            {% else %}
                <a class="nav-link nav-sign-button px-3" href="/">Unterzeichnen</a>
            {% endif %}
        </li>
      </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" aria-hidden="true"></i>

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% for link in site.links %}
            {% if link.url | contains('http') %}
                {% set domain = '' %}
            {% elseif link.url | contains('#') %}
                {% set domain = '' %}
            {% else %}
                {% set domain = base_url_absolute %}
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ domain }}{{ link.url }}" {% if link.url | contains('http') %}target="_blank"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}

      </ul>
    </div>
  </div>
</nav>

{# <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink navbar-nav-scroll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {% for link in site.links %}
                    {% if link.url | contains('http') %}
                        {% set domain = '' %}
                    {% elseif link.url | contains('#') %}
                        {% set domain = '' %}
                    {% else %}
                        {% set domain = base_url_absolute %}
                    {% endif %}
                    <li><a class="page-scroll" href="{{ domain }}{{ link.url }}" {% if link.url | contains('http') %}target="_blank"{% endif %}>{{ link.title }}</a></li>
                {% endfor %}
                <li><a class="page-scroll nav-sign-button" href="/#unterzeichnen">Unterzeichnen</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav> #}