{% extends 'partials/base.html.twig' %}
{# {% block header_navigation %}{% endblock %} #}
{% block content %}
	<div class="container" style="margin-top: 2em">
        <div class="row">
          <div class="col-lg-12">
            <div>
              <div>
                 <h2>{{ page.header.title }}</h2>
                  {{ page.content|raw }}
                  

<div class="accordion mx-2" id="accordionExample">

                  {% for child in page.collection %}
                    <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ loop.index }}">
      <button class="accordion-button collapsed" style="font-weight: bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
        {{ child.title }}
      </button>
    </h2>
    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
            {{ child.content|raw }}
      </div>
    </div>
  </div>
                  {% endfor %}
</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
