{% extends 'partials/base.html.twig' %}
{# {% block header_navigation %}{% endblock %} #}
{% block content %}
	<div class="container" style="margin-top: 2em">
        <div class="row">
          <div class="col-lg-12">
            <div>
              <div>
                 <h2>{{ page.header.title }}</h2>
                  {{ page.content|raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
