{% extends 'partials/base.html.twig' %}
{% block content %}
	<div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div id="error">
              <div>
                 <h2>Error {{ page.header.http_response_code }}</h2>
                 <h3>
                    {{ page.content|raw }}
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
