<section id="logos">
<div class="row">
    <div class="col-lg-12 text-center">
        {{ content|raw }}
    </div>
</div>
<aside class="clients">
    <div class="container">
        <div class="row justify-content-center">
            {% for client in page.header.logos %}
                <div class="col-3 text-center init-logo">
                    <a href="{{ client.url }}" target="_blank">
                        <img src="{{ page.media[client.logo].url }}" class="img-responsive img-centered init-logo-images" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</aside>
</section>
