{% set names = page.header.names|default(page.parent().header.imports.signee) %}
{% set promis = page.header.promis|default(page.parent().header.imports.promis) %}

<section id="about">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{ content|raw }}
        </div>
        {% for person in promis|randomize %}
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 promi">
                    <div class="text-truncate">{{ person.name }}</div>
                    <div class="text-truncate blockquote-footer mt-1">{{ person.function }}</div>
                </div>
        {% endfor %}
        {# <div class="col-12"></div> #}
        {% for person in names|randomize %}
            {% if person.function %}
                <div class="col-6 col-sm-6 col-md-4 col-xl-3">
                    <div class="text-truncate">{{ person.name }}</div>
                    <div class="text-truncate blockquote-footer mt-1">{{ person.function }}</div>
                </div>
            {% endif %}
        {% endfor %}
        {% for person in names|randomize %}
            {% if not person.function %}
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 text-truncate">{{ person.name }}</div>
            {% endif %}
        {% endfor %}

    </div>
    <div class="text-center mt-5" style="opacity:0.8" >
        {{ page.header.comment }}
    </p>
</div>
</section>
