<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {{ content|raw }}
        </div>
    </div>
    <div class="row ">
        {% for member in page.header.people | randomize %}
            {% if member.pic %}
            <div class="col-sm-4 gy-5">
                <div class="team-member team-logos">
                    
                    <img class="team-logos-images" src="{{ page.media[member.pic].url }}" class="img-responsive img-circle" alt="">
                    
                    <h4>
                        {% if member.url %}
                            <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
                        {% else %}
                            {{ member.name }}
                        {% endif %}
                    </h4>
                    <p class="text-muted">{{ member.position }}</p>
                 <!--    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            {% endfor %}

                        </ul> -->
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row justify-content-center pt-3">
            {% for member in page.header.people | randomize %}
            {% if not member.pic %}
            <div class="col-sm-4">
                <div class="team-member team-logos">
                    
                    <div>
                        {% if member.url %}
                            <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
                        {% else %}
                            {{ member.name }}
                        {% endif %}
                    </div>
                    {% if member.position %}
                        <p class="text-muted">{{ member.position }}</p>
                    {% endif %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <p class="large text-muted">{{ page.header.description }}</p>
            </div>
        </div>
    </div>
</section>
