{% set petition = get_weact_petition(page.header.petition) %}
{% set promis = page.header.promis|default(page.parent().header.imports.promis|randomize) %}

<section id="weact" class="{{ page.header.classes }}">
  <div class="container overflow-hidden">

    <div class="row gx-5">
        <div class="col-lg-8 order-lg-1 order-2">
        {# {{ petition.why|markdown }} #}
            <div class="pe-1">{{ content|raw }}</div>
            <a class="nav-link nav-sign-button px-3 py-2 d-inline-block d-lg-none" href="/#unterzeichnen">
                <i class="fa fa-angle-up mx-2" aria-hidden="true"></i>
                Unterzeichnen
            </a>
            
        </div>
        <div class="col-lg-4 order-lg-2 order-1 pb-3">
            <a name="unterzeichnen"></a>
            <p><a href="/dabei" class="box signature-count">
                {{ page.header.signature_count_text|regex_replace(['/COUNT/'], [petition.signature_count_formatted]) }}
                {# Schon {{ petition.signature_count_formatted }} werden kommen, du auch? #}
            </a></p>

            {% if page.header.show_english_note %}
            <div class="box_petition small">
                <h2>Take part!</h2>
                <p>Unfortunately we can't provide the form in english, so here is the translation of what you would agree to:</p>
                
                First name (Vorname)<br>
                Surname (Nachname)<br>
                Postal code (Postleitzahl)<br>
                Country (Land)<br>
                <br>
                <div style="font-size:0.8em">
                    <p><i>Optional:</i> I agree that my first name and the 1st letter of my surname, my function/organization (if indicated) as well as my postal code (for indication of place of residence) will be transmitted to „X-Tausend für Lützerath“ and published on the campaign page x-tausend.de. I can revoke this consent at any time in the future.</p>
                    <p>I agree that the signing of this petition as well as my e-mail address, name and location will be stored for the implementation of the petition until its end. My first name, the first letter of my last name and my place of residence can be viewed by petition starters and handed over to the recipient of the petition. To verify my data, I will receive a corresponding e-mail with further information. This consent can be revoked at any time.</p>
                    <p>Sign (Unterzeichnen)</p>
                </div>
            </div>
            {% endif %}
            
            <!--     <p href="/dabei" class="box signature-count">Schon {{ petition.signature_count_formatted }} werden kommen, du auch?</p>
             -->

            <div class="box_petition">
                <p>{{ page.header.signature_text }}</p>
                <iframe class="weact_petition" src="{{ page.header.petition }}/embed" sandbox="allow-top-navigation allow-forms allow-popups allow-same-origin allow-scripts"></iframe>
            </div>

            {% if promis %}
                <div class="d-none d-lg-block">
                    <h5 class="mt-4">Mit dabei...</h5>
                    {% for person in promis %}
                        <div class="px-3">
                            <div class="text-truncate">{{ person.name }}</div>
                            <div class="text-truncate blockquote-footer mt-1">{{ person.function }}</div>
                        </div>
                    {% endfor %}
                    <small>...und viele mehr!</small>
                </div>
            {% endif %}
        </div>
    </div>        
</div>
</section>
